GATEWAY_PORT=8080
IDENTITY_PORT=8081
CORE_PORT=8082
AI_HOST=127.0.0.1
AI_PORT=8083

CORE_DB_HOST_PORT=5432
CORE_DB_NAME=traintension
CORE_DB_USERNAME=traintension
CORE_DB_PASSWORD=traintension

ID_MONGO_HOST_PORT=27017
ID_MONGO_DATABASE=traintension_identity
ID_MONGO_USERNAME=traintension
ID_MONGO_PASSWORD=traintension

REDIS_HOST_PORT=6379
REDIS_PASSWORD=traintension

SWAGGER_ENABLED=true
JWT_EXPIRATION_SEC=3600
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=

ENCRYPTION_KEY=traintension-local-dev-password
ENCRYPTION_SALT=5c0744940b5c369b

GOOGLE_WEB_CLIENT_ID=local-web-client-id
GOOGLE_ANDROID_CLIENT_ID=local-android-client-id
ADMIN_EMAILS=admin@traintension.local
USER_EMAILS=
